.Body{
  background-image: url("./Assets/d9v2x6a-bda4650a-347d-4ff1-843e-ebbc0eda0d97.png");
  background-size: cover;
  color: black;
  font-family: 'Vesper Libre', serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.glass{
  background: rgba(255,255,255, 0.2);
  backdrop-filter: blur(5px);
  border: solid 2px transparent;
  border-radius: 15px;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
  height: 50vh;
  margin: 2em;
  padding: 2em;
  text-align: center;
}